<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="priv.seesea.seeseabookclub.mapper.DownloadMapper">

    <resultMap id="downloadmapper" type="download">
        <id column="download_id" property="downloadId"/>

        <result column="download_book_id" property="downloadBookId"/>
        <result column="download_link_first" property="downloadLinkFirst"/>
        <result column="download_link_second" property="downloadLinkSecond"/>
        <result column="download_link_third" property="downloadLinkThird"/>
        <result column="download_resource" property="downloadResource"/>
    </resultMap>

    <!--增加下载地址-->
    <insert id="postDownload" parameterType="download">
        insert
        into  tb_download
          (download_id,download_book_id,download_link_first,download_link_second,download_link_third,download_resource)
        values
          (#{downloadId},#{downloadBookId},#{downloadLinkFirst},#{downloadLinkSecond},#{downloadLinkThird},#{downloadResource})
    </insert>

    <!--通过书籍id查询下载地址-->
    <select id="getDownloadByBookId" parameterType="String" resultMap="downloadmapper">
        select
          download_link_first,download_link_second,download_link_third,download_resource
        from
          tb_download
        where
          download_book_id = #{bookId}
    </select>

</mapper>